$color-box: rgb(0,119,255);

.box-analisis-inv{
    margin: 3px;
    background-color: $color-box;
    color: white;
    padding: 2px;
    margin-bottom: 20px;
    width: 150px;
    height: 80px;

    label{
        text-align: center;
        display: block;
    }
    
    h6{
        margin-top: 15px;
        text-align: center;
    }
}

.grafico-analisis-inv{
    height: 60px;
    width: 100px;
}

.column-boxes{
    margin-top: 150px;
}

.btn-analisis{
    margin-left: 30px;
}